@import "tailwindcss";
@import "./fonts.css";

@theme {
  /* Colors */
  --color-amber-gold: #dd8b3b;
  --color-dark-orange: #dd8c3c;
  --color-amber: #e2943c;
  --color-charcoal-blue: #141522;
  --color-white-100: #fdfdfd;
  --color-snow-white: #fbfcfc;
  --color-silver-gray: #a7a7aa;
  --color-slate-gray: #525255;
  --color-soft-gray: #f5f5f7;
  --color-sky-blue: #04a4f4;
  --color-stone-gray: #9c9ca4;
  --color-light-gray: #edf0f1;
  --color-rose-500: #f43f5e;
  --color-indigo-100: #ecebff;
  --color-gray-900: #202020;
  --color-gray-600: #605e5e;
  --color-gray-100: #f6f6f8;
  --color-gray-500: #969799;
  --color-gray-200: #ebebef;
  --color-gray-400: #818183;

  /* Shadows */
  --shadow-glow-amber: 0 0 12px 6px rgba(255, 165, 0, 0.4);
  --drop-shadow-glow-amber: 0 0 12px 6px rgba(255, 165, 0, 0.4);
  --shadow-disabled: 0 0 8px 4px rgba(128, 128, 128, 0.3);
  --shadow-beige-soft: 2px 7px 5.7px 2px #f5e7d2;
  --shadow-orange-soft: 0px 14px 42px 0px #080f340f;
  --shadow-soft-dark: 0px 0px 15px 0px #1717250a;

  /* Gradients */
  --gradient-amber: 180deg, #dd8b3b 0%, #e59b3c 66%;

  /* Typography */
  --font-family-jakarta: "PlusJakartaSans", sans-serif;
  --tracking-tight-pro: "-0.014em";

  /* Border */
  --radius-10: 10px;
  --radius-20: 20px;
}

@layer base {
  html,
  body {
    font-family: var(--font-family-jakarta);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #111827 !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  button {
    cursor: pointer;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-light-gray);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-amber-gold);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-amber);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-amber-gold) var(--color-light-gray);
}
